<!-- Homepage Navbar-->

	<nav class="navbar navbar-fixed-top navbar-light bg-dark" id="navbar">
  		<div class="container navbar-container">
    		<img id="logo-navbar-image" src="<%= asset_path 'logo_petit.png' %>" class="img-fluid" alt="Responsive image">
    		<h5 class="my-0 mr-md-auto font-weight-normal">
      		<%= link_to "Creative Calling", root_path, class: "border-success font-weight-bold text-black", id: "logo-navbar" %>
    		</h5>
        <% if user_signed_in? %>
    		<nav class="nav navbar-nav navbar-right">
      			<ul class="list-inline" id="navbar-right-buttons">
			        <li id="navbar-right-buttons" class="btn btn-outline-success"><%= link_to "À propos", about_path %></li>
			        <li id="navbar-right-buttons" class="btn btn-outline-success"><%= link_to "Nous contacter", contact_path %></li>
              <li id="navbar-right-buttons" class="btn btn-outline-success"><%= link_to "Mon profil", user_path(current_user) %></li>
              <li id="navbar-right-buttons" class="btn btn-outline-success"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
        		</ul>
        </nav>
        <% else %>
        <nav class="nav navbar-nav navbar-right">
            <ul class="list-inline" id="navbar-right-buttons">
              <li id="navbar-right-buttons" class="btn btn-outline-success"><%= link_to "À propos", about_path %></li>
              <li id="navbar-right-buttons" class="btn btn-outline-success"><%= link_to "Nous contacter", contact_path %></li>
              <li id="navbar-right-buttons" class="btn btn-outline-success"><%= link_to "Connexion", new_user_session_path %></li>
              <li id="navbar-right-buttons" class="btn btn-outline-success"><%= link_to "S'enregistrer", new_user_registration_path %></li>
            </ul>
        </nav>
        <% end %>
		</div>
	</nav>